

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9a53e6
}

.wrapper {
    width: 420px;
    background: #b086e3;
    color: aliceblue;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}

/*Problemas com a sincronização do html e o css 

